body{
  background-color: rgb(106, 234, 217);
}

.main-container {
  height:100vh;
  display:flex; 
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}

.box {
  text-align: center;
  flex-direction: column;
  width: 15.5em;
  height: 10em;
  border-radius: 1em;
  margin: 1rem;
  background-color: white;
}

.icon {
  width: 1.3em;
  height: 1.3em;
  margin-top: 0.5em;
}
