@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: 'Inria Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;          
    margin: 0;              
    background: url(background.jpg); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
}

section {
    width: 400px;
    height: 400px;
    left: 389px;
    top: 152px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    border: 1px solid #fde5cb;
    border-radius: 5px;
}

section > textarea{
    margin-left: 23px;
    padding: 8px;
    width: 350px;
    height: 250px;
    background: #FFFFFF;
    border: 1.6px solid #f5bdb8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 1);
}

.header-text{
    margin-top: 15px;
    margin-left: 23px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.username{
    margin-left: 23px;
    margin-bottom: 8px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.9);
}

.text-below{
    text-align:start;
    margin-left: 23px;
    margin-top: 15px;
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #000000;
}








