@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100..800&family=Anek+Tamil:wdth,wght@108.5,100..800&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --brat: #83c203;
    --brat_dark: rgba(118, 171, 10, 0.89);
    --dark_gray: #1e1e1e;
    --light_gray: #5d5959;
    --white: white; 
}

*{
    font-family: "Arial Narrow", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0; 
    background: url(assets/brat_bg.png) center fixed;
    background-repeat: round;

}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    width: 60%;
    height: 95%;
    background: var(--brat_dark);
    border-radius: 19px;
    padding: 1rem;
}

.main-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    opacity: 0.4;
    z-index: -1;
    border-radius: 19px;
}

.inner-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.7rem;
    width: 67%;
    z-index: 10;
    background-color: var(--white);
    border-radius: 9px;
}

.highlight-img{
    background: url(assets/highlight-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 3;
}
.highlight-info{
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: var(--white);
    flex: 1;
}
.highlight-info p{
    line-height: 1.5em;
}

#name{
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bolder;
}
#birth-sign{
    font-size: 1em;
    font-weight:300;
    color: var(--dark_gray);
}
#email{
    font-size: 1em;
    font-weight: 300;
    color: var(--dark_gray);
    text-decoration: underline;
}

.song-container{
    background-color: var(--white);
    flex: 1;
}
.song-container iframe{
    width: 100%; 
    height: 100%;
}


.inner-right {
    display: flex;
    flex-direction: column;
    width: 76%;
    z-index: 2;
    padding: 0.7rem;
    height: 100%;
}
.about-me{
    flex: 1;
    padding: 1rem;
}
#heading{
    font-size: 2em;
    font-style: normal;
    font-weight:800;
    line-height: 29px;
    color: var(--dark_gray);
    text-shadow: 0 0 5px #73a215, 0 0 10px #b5ff21, 0 0 20px #8fd305, 0 0 40px #099917;
}
#subtext{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 0.03em;
    color: var(--white);
    text-align: justify;
    line-height: 1.4em;
    margin-top: 1rem;
}
#spanned{
    color: black; font-weight: 700; text-shadow: 0 0 5px #ffffff, 0 0 10px #a0d830, 0 0 20px #8fd305, 0 0 40px #55ff66;
}
.queue{
    flex: 1;
    background: url(assets/queue.png);
    background-size: cover;
    border-radius: 5px;
}

